#displayResults {
  display: none;
}

#resultsTable {
  width: 100%;
}

#resultsTable td {
  /* color: white;
  background-color: violet; */
  padding: 20px;
  border-top: solid;
  border-width: 1px;
}